DATABASE_URL="postgresql://postgres:postgres@localhost:5432/jaygalagbe?schema=public"

JWT_SECRET="change-me"
JWT_EXPIRES_IN="7d"

API_BASE_URL="http://localhost:3000"
SSLCOMMERZ_STORE_ID="change-me"
SSLCOMMERZ_STORE_PASSWORD="change-me"
SSLCOMMERZ_IS_LIVE="false"

FIREBASE_PROJECT_ID="change-me"
FIREBASE_CLIENT_EMAIL="change-me"
FIREBASE_PRIVATE_KEY="change-me"
